.toast {
  min-width: 10vw;
  position: absolute;
  top: 0;
  right: 1em;
  padding: 0.5em 1em 1em 1em;
  background-color: #ffaaaa;
  color: hsl(0, 100%, 30%);
  border-radius: 3px;
  box-shadow: 0px 3px 5px #bbb;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.toast::after {
  content: "ËŸ";
  font-size: 2em;
  visibility: inherit;
  position: relative;
  top: -0.25em;
  right: -0em;
  cursor: pointer;
}

.toast-show {
  visibility: visible;
  opacity: 1;
  transform: translatey(1em);
}
