.toast {
  visibility: hidden;
  position: absolute;
  right: 3em;
  padding: 1em;
  top: 0em;

  color: white;
  background-color: red;
  box-shadow: 0em 0.15em 5px rgba(24, 24, 24, 0.393);

  opacity: 0;
  transition: all ease 0.25s;
}

.toast-show {
  visibility: visible;
  top: 1em;
  opacity: 1;
}
